.paginator {
  margin: 10px;
}

.page-number {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 1px;
  border: 1px solid #b4bef0;
  box-sizing: border-box;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}

.page-number:hover {
  font-weight: 700;
}

.page-number-active {
  font-weight: 700;
  border-color: #576bcc;
}

.page-button {
  box-sizing: border-box;
  height: 30px;
  width: 60px;
  border: 1px solid #b4bef0;
  background-color: #f1f3fe;
  color: #3c425f;
  vertical-align: middle;
}

.page-button:hover {
  border-color: #576bcc;
}
