.app-header {
  grid-area: header;
  border-bottom: 1px solid #b4bef0;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

.logo {
  justify-self: start;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.login-block {
  justify-self: end;
}

.login-name {
  font-weight: 700;
  margin-right: 20px;
}

.login-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #576bcc;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
