.nav {
  grid-area: n;
  background-color: grey;
}

ul {
  list-style: none;
}

.item {
  color: white;
  text-decoration: none;
}

.item:hover {
  color: gold;
}

.item.active {
  color: darkorange;
}
