.app-sidebar {
  grid-area: sidebar;
  border-right: 1px solid #b4bef0;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item-link {
  display: block;
  padding: 15px 15px 15px 30px;
  color: #3c425f;
  text-decoration: none;
}

.menu-item-link:hover {
  font-weight: 700;
}

.menu-item-link-active {
  position: relative;
  font-weight: 500;
  color: #576bcc;
  background-color: #f1f3fe;
}

.menu-item-link-active::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 0 8px 8px 0;
  background: #576bcc;
}
